<template>
  <City :city="city" />
</template>

<script>
import City from "~/components/demo/City";

function formatNum(num) {
  if (Number(num) > 0) {
    return `%2B${num}`;
  } else {
    return num;
  }
}
async function getCity(params, store) {
  const cachedCity = store.getters["city/get"](params.name);
  if (cachedCity) {
    return cachedCity;
  } else {
    const urlCityId = `http://geodb-free-service.wirefreethought.com/v1/geo/cities?namePrefix=${
      params.name
    }&location=${params.lng}${formatNum(
      params.lat
    )}&radius=2000&languageCode=fr&limit=5&offset=0&hateoasMode=false`;

    const dataCityId = await (await fetch(urlCityId)).json();

    const cityUrl = `http://geodb-free-service.wirefreethought.com/v1/geo/cities/${dataCityId.data[0].id}`;
    const rawCity = await (await fetch(cityUrl)).json();
    const city = rawCity.data;

    store.commit("city/cache", city);
    return city;
  }
}

export default {
  components: {
    City
  },
  layout: "main",
  async asyncData({ params, store }) {
    return { city: await getCity(params, store) };
  }
};
</script>

<style>
</style>