<template>
  <div id="app">
    <GameCardsStack
      :cards="visibleCards"
      @cardAccepted="handleCardAccepted"
      @cardRejected="handleCardRejected"
      @cardSkipped="handleCardSkipped"
      @hideCard="removeCardFromDeck"
    />
  </div>
</template>

<script>
    import GameCardsStack from "../components/GameCardsStack";

    export default {
        name: "App",
        components: {
            GameCardsStack
        },

        //TODO : use asyncData instead of static
        data() {
            return {
                visibleCards: ["Test", "Vue.js", "Webpack"]
            };
        },

        methods: {
            handleCardAccepted() {
                console.log("handleCardAccepted");
            },
            handleCardRejected() {
                console.log("handleCardRejected");
            },
            handleCardSkipped() {
                console.log("handleCardSkipped");
            },
            removeCardFromDeck() {
                this.visibleCards.shift();
            }
        }
    };
</script>

<style lang="scss">
  @import "~assets/styles/mixins.scss";

  #app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    text-align: center;
  }
</style>
