<template>
  <div class="help-card">
    <h1 class="title-help">Usefull</h1>
    <h1 class="title-ressources">ressources</h1>
    <b-card class="menu">
      <ul>
        <li class="font-weight-bold">Documentations</li>
        <li>
          <a href="https://gitlab.com/unifygroup/aufeminin/dev/pwa-nuxt-template/blob/barcelone-workshop/README.md">Workshop guide</a>
        </li>
        <li>
          <a href="https://fr.vuejs.org/v2/guide/">VueJS</a>
        </li>

        <li>
          <a href="https://nuxtjs.org/guide">Nuxt</a>
        </li>
        <li>
          <a href="https://bootstrap-vue.js.org/">BootstrapVue</a>
        </li>
        <li class="font-weight-bold mt-4">APIs</li>
        <li>
          <a href="https://medium.com/@vicbergquist/18-fun-apis-for-your-next-project-8008841c7be9">18 Fun APIs For Your Next Project</a>
        </li>
        <li>
          <a href="https://any-api.com/">Any⚡️API</a>
        </li>
      </ul>
    </b-card>

  </div>
</template>

<script>
export default {
  layout: "main"
};
</script>

<style lang="scss">
.title-help,
.title-ressources {
  font-family: Monoton;
}

.title-help {
  font-size: 5rem;
  line-height: 2.5rem;
}

.title-ressources {
  font-size: 3rem;
  transform: translateX(10rem);
}

.menu {
  margin-top: 4rem;

  ul {
    list-style-type: none;
  }
}

.help-card {
  width: 432px;
  margin: 0 auto;
}

a {
  &:hover {
    text-decoration: none;
  }
}
</style>