<template>
  <div>

    <div class="title-container">
      <h1 class="title-pwa text-center">PWA</h1>
      <h1 class="title-workshop text-center">Workshop</h1>
    </div>
  </div>
</template>

<script>
export default {
  layout: "main"
};
</script>

<style lang="scss" scopped>
@import "~assets/variables.scss";

.title-pwa,
.title-workshop {
  font-family: Monoton;
}

.title-pwa {
  font-size: 10rem;
  line-height: 5rem;
}

.title-workshop {
  font-size: 5rem;
  transform: translateX(10rem);
}

.title-container {
  margin-top: 5rem;
}

.main-link {
  color: inherit;
  display: block;
  transition: transform 0.2s;
  &:hover {
    color: inherit;
    transform: scale(1.1);
  }
}
</style>

