.ad-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 1rem 0;
  background-color: #f3f3f3;
  margin: 1rem 0;
}

.ad-container-padded-out {
  margin: 1rem -1rem;
}

.ad-container--transparent {
  background-color: transparent;
}
.add-container-padded-out {
  margin: 1rem -1rem;
}

.af-banner div,
.af-banner img,
.af-banner iframe,
.af-banner object,
.af-banner embed {
  max-width: 100%;
  margin: auto;
}

.ad-banner_atf {
  height: 100px;
  min-width: 300px;
  z-index: 2;
}

.ad-300_atf,
.ad-300_mtf {
  height: 250px;
  min-width: 300px;
  overflow: hidden;
}

.ad-300_atf {
  position: relative;
  z-index: 1;
}

.ad-banner_mtf {
  height: 100px;
  min-width: 300px;
}

.skin-img {
  position: relative !important;
  width: 100%;
}

.auf-skin + div .swiper-slide-active article {
  padding-top: 1rem;
}

.af-block .af-cover-img {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 250px;
}

.af-block-native {
  width: 300px;
  background-color: white;
}

.af-block.af-block-content .af-card {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  bottom: 20px;
  background-color: white;
  margin: 0 1rem;
  margin: 0.5rem 1rem;
  border-top: 4px solid;
  left: 0;
}

.af-block .af-card .af-title.af-title-tiny {
  line-height: 15px;
  height: 15px;
  max-height: 15px;
  overflow: hidden;
  -webkit-line-clamp: 1;
}

.af-block .af-card .af-description {
  display: block;
  line-height: 20px;
  height: 40px;
  max-height: 40px;
  overflow: hidden;
  -webkit-line-clamp: 2;
  font-size: 0.8rem;
}

.af-block.af-block-content .af-card .af-ads-label {
  display: block;
  line-height: 30px;
  height: 30px;
  max-height: 30px;
  overflow: hidden;
  -webkit-line-clamp: 1;
  font-size: 0.625em;
  text-transform: uppercase;
}

.ad-300_atf > div {
  height: 250px;
}

.af-block .af-card .af-title {
  font-size: 1.0625em;
  margin-bottom: 14px;
  margin-top: 14px;
  line-height: 15px;
  height: 15px;
  max-height: 15px;
  overflow: hidden;
  -webkit-line-clamp: 1;
}

.ad-300_mtf .af-hb-native {
  max-height: 250px;
}
