body.dark {
  color: #a5a5a5;
  background-color: black;

  nav {
    background-color: black;
  }

  #logo {
    .st0 {
      fill: #d00073;
    }
  }

  .top {
    .rubrique {
      color: #b72977;
    }

    .icon-prev,
    .icon-next {
      fill: #d2d2d2;
    }
  }

  .icon-home {
    &--out,
    &--in {
      fill: #d00073;
    }
  }

  #next-story-nav {
    .arrow {
      fill: #d00073;
      stroke: #d00073;
    }
  }

  .content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #d2d2d2;
    }
  }

  .ad-container {
    background-color: #1b1b1b;
  }

  article {
    background-color: black;
  }

  //almbums preview
  .album-preview-container {
    background-color: #1b1b1b;
  }
}