@import "variables.scss";

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

body {
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
}

a {
  color: $color-primary;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: #363636;
  }

  strong {
    color: currentColor;
  }
}

.container {
  margin: 0 auto;
  position: relative;
}

.padded {
  padding: 0 1rem;
}
.fill-primary {
  fill: $color-primary;
}

@media screen and (min-width: 1088px) {
  .container {
    max-width: 960px;
    width: 960px;

    &.is-fluid {
      margin-left: 64px;
      margin-right: 64px;
      max-width: none;
      width: auto;
    }
  }
}

@media screen and (max-width: 1279px) {
  .container.is-widescreen {
    max-width: 1152px;
    width: auto;
  }
}
@media screen and (max-width: 1471px) {
  .container.is-fullhd {
    max-width: 1344px;
    width: auto;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1152px;
    width: 1152px;
  }
}
@media screen and (min-width: 1472px) {
  .container {
    max-width: 1344px;
    width: 1344px;
  }
}

.content li + li {
  margin-top: 0.25em;
}

.content {
  &.is-small {
    font-size: 0.75rem;
  }
  &.is-medium {
    font-size: 1.25rem;
  }
  &.is-large {
    font-size: 1.5rem;
  }
  .p,
  p,
  dl:not(:last-child),
  ol:not(:last-child),
  ul:not(:last-child),
  blockquote,
  pre:not(:last-child),
  table {
    margin-bottom: 1rem;
  }

  em {
    color: $color-text-light;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #363636;
    font-weight: 600;
    line-height: 1.125;
  }

  h1 {
    font-size: 2em;
    margin-bottom: 0.5em;

    &:not(:first-child) {
      margin-top: 1em;
    }
  }

  h2 {
    font-size: 1.5em;
    margin-bottom: 0.5714em;

    &:not(:first-child) {
      margin-top: 1.1428em;
    }
  }

  h3 {
    font-size: 1.5em;
    margin-bottom: 0.6666em;

    &:not(:first-child) {
      margin-top: 1.3333em;
    }
  }

  h4 {
    font-size: 1.25em;
    margin-bottom: 0.8em;
  }

  h5 {
    font-size: 1.125em;
    margin-bottom: 0.8888em;
  }

  h6 {
    font-size: 1em;
    margin-bottom: 1em;
  }

  blockquote {
    background-color: whitesmoke;
    border-left: 5px solid $color-primary;
    padding: 1.25em 1.5em;
  }

  ol {
    list-style: decimal outside;
    margin-left: 2em;
    margin-top: 1em;
  }
  ul {
    list-style: disc outside;
    margin-left: 2em;
    margin-top: 1em;

    ul {
      list-style-type: circle;
      margin-top: 0.5em;

      ul {
        list-style-type: square;
      }
    }
  }
  dd {
    margin-left: 2em;
  }
  figure {
    margin-left: 2em;
    margin-right: 2em;
    text-align: center;

    &:not(:first-child) {
      margin-top: 2em;
    }

    &:not(:last-child) {
      margin-bottom: 2em;
    }

    img {
      display: inline-block;
    }

    figcaption {
      font-style: italic;
    }
  }

  pre {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    padding: 1.25em 1.5em;
    white-space: pre;
    word-wrap: normal;
  }

  sup,
  sub {
    font-size: 75%;
  }
}

.child-view {
  width: 100%;
}

.router-container {
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
  position: relative;
}

.header-title {
  font-size: 1.5em;
}

.img-full-width {
  transition: all 0.5s;
  width: 100%;
}

img.loading {
  // filter: blur(10px);
}

div > iframe:not([name^="google"]) {
  width: 100%;
}

/* Pour sortir une div du padding global */
.paddout {
  margin: 1rem -1rem 1rem -1rem;
}
