
.slide-right-leave-active {
  animation: slide-left-in 0.5s;
}

.slide-right-enter-active {
  animation: slide-left-out 0.5s;
}


.slide-left-leave-active {
  animation: slide-right-in 0.5s;
}

.slide-left-enter-active {
  animation: slide-right-out 0.5s;
}
@keyframes slide-left-in {
  0% {
    transform: translate3d(0%, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(50%, 0, 0);
    opacity: 0;
  }
}
@keyframes slide-left-out {
  0% {
    transform: translate3d(-50%, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0%, 0, 0);
    opacity: 1;
  }
}

@keyframes slide-right-in {
  0% {
    transform: translate3d(0%, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(-50%, 0, 0);
    opacity: 0;
  }
}
@keyframes slide-right-out {
  0% {
    transform: translate3d(50%, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0%, 0, 0);
    opacity: 1;
  }
}

@keyframes going {
  from {
    transform: scale(1);
  }
  to {
    transform: scale3d(5, 5, 0);
  }
}

.page-leave-active .img-full-width--active img {
  position: relative;
  z-index: 1;
  animation-duration: 0.5s;
  animation-name: going;
  transition-delay: 0s;
}
.page-enter-active,
.page-leave-active {
  transition: transform 0.5s, opacity 0.5s;
}
.page-enter,
.page-leave-active {
  transition: opacity 0.5s;
  opacity: 0;
  transition-delay: 0.2s;
}
