$color-primary: #951f60;
$color-text-light: #7b7b7b;
$color-background-gray-light: #f3f3f3;
$color-background-gray-medium: #ededed;
$color-background-gray-hard: #dddddd;
$color-background-light: #f3f3f3;
$color-background-medium: #ededed;
//TODO : change var name usage
