<template>
  <Country :country-data="dataToCountry" />
</template>

<script>
    import Country from "~/components/Country";

    async function getCountry(params) {
        const url = `http://restcountries.eu/rest/v2/name/${params.name}`;
        const data = await (await fetch(url)).json();
        return data[0];
    }

    export default {
        components: {
            Country
        },
        layout: "main",
        async asyncData({ params, store }) {
            //assign result of getCountry to this.dataToCountry
            return { dataToCountry: await getCountry(params, store) };
        }
    };
</script>
