/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #111;
    color: #b9b9b9;
  }

  .card {
    background: #282828;

    .text-gray-700 {
      color: #ccc;
    }

    &-title {
      color: #f7f7f7;
    }
  }

  a {
    color: #e864ad;

    &:hover {
      color: #ff7ac4;
    }
  }
}
