<template>
  <Country :country="country" />
</template>

<script>
import Country from "~/components/demo/Country";
async function getCountry(params, store) {
  const cachedCountry = store.getters["country/get"](params.name);
  if (cachedCountry) {
    return cachedCountry;
  } else {
    const url = `http://restcountries.eu/rest/v2/name/${params.name}`;
    const data = await (await fetch(url)).json();

    store.commit("country/cache", data[0]);
    return data[0];
  }
}


export default {
  components: {
    Country
  },
  layout: "main",
  async asyncData({ params, store }) {
    return { country: await getCountry(params, store) };
  }
};
</script>

<style>
</style>