<template>
  <div class="country-card">
    <b-card no-body>
      <CountryMap :lng="longitude" :lat="latitude" />
      <b-card-body>
        <h1>{{ countryData.name }}</h1>
      </b-card-body>
    </b-card>
  </div>
</template>

<script>
    import CountryMap from "~/components/Map"; // import Map component
    export default {
        props: {
            countryData: {
                type: Object,
                default: null
            }
        },
        computed: {
            longitude() {
                if (this.countryData) {
                    return this.countryData.latlng[1];
                }

                return null;
            },

            latitude() {
                if (this.countryData) {
                    return this.countryData.latlng[0];
                }

                return null;
            }
        },
        components: {
            //register Map component so it can be used in current template
            CountryMap
        }
    };
</script>

<style scoped>
  .country-card {
    width: 432px;
  }
</style>
