<template>
  <nav>
    <ul class="flex">
      <li class="mr-6">
        <nuxt-link :to="`/`">Home</nuxt-link>
      </li>
      <li class="mr-6">
        <nuxt-link :to="`/demo/country/spain`">Demo</nuxt-link>
      </li>
      <li class="mr-6">
        <nuxt-link :to="`/help`">Help</nuxt-link>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: "PWA"
    }
  }
};
</script>

<style scoped lang="scss">
nav {
  padding: 1rem;

  ul {
    list-style-type: none;
  }

  li {
    margin-right: 2rem;
  }
}
</style>