<template>

  <div>
    <div class="flex mb-4 justify-center">
      <nuxt />
    </div>

  </div>

</template>

<script>
export default {
  computed: {
    logo() {
      try {
        return require(`~/assets/${this.$store.state.core.site.Site}/logo.png`);
      } catch (error) {
        // Do something as a fallback. For example:
        return require("~/assets/default_logo.png");
      }
    },
    alt() {
      return this.$store.state.core.site || "PWA"
    }
  },
  mounted() {
    this.$store.commit("core/disableScrollToSwipe");
  }
};
</script>


<style lang="scss" scoped>
//this style is scoped to your layout

#logo {
  width: 90px;
  max-height: 32px;
  margin-top: -4px;
}

</style>

