<template>
  <div>
    <mynav />
    <div class="d-flex justify-content-sm-center card-container">
      <nuxt />
    </div>
  </div>
</template>

<script>
import mynav from "~/components/Nav.vue";

export default {
  components: {
    mynav
  },
  computed: {
    logo() {
      try {
        return require(`~/assets/${this.$store.state.core.site.Site}/logo.png`);
      } catch (error) {
        // Do something as a fallback. For example:
        return require("~/assets/default_logo.png");
      }
    },

    alt() {
      return this.$store.state.core.site || "PWA";
    }
  },
  mounted() {
    this.$store.commit("core/disableScrollToSwipe");
  }
};
</script>


<style lang="scss" scoped>
//this style is scoped to your layout

#logo {
  width: 90px;
  max-height: 32px;
  margin-top: -4px;
}
</style>

