<template>
  <div class="city-card">
    <b-card no-body>

      <div
        v-if="!city"
        class="px-6 py-4 loader flex flex-initial justify-center"
      >
        <img src="~/assets/barcelone/loader.svg">
      </div>

      <Map
        v-if="city"
        :lng="city.longitude"
        :lat="city.latitude"
        :zoom="13"
      />
      <b-card-body
        v-if="city"
        class="px-6 py-4"
      >
        <div class="font-bold text-xl mb-2 card-title">{{ city.name }}</div>
        <p class="text-gray-700 text-base">
          <span class="font-bold">country:</span>
          <nuxt-link :to="`/demo/country/${city.country}`">{{ city.country }}</nuxt-link>
        </p>
        <p class="text-gray-700 text-base">
          <span class="font-bold">population:</span> <span>{{ city.population }}</span>
        </p>
        <p class="text-gray-700 text-base">
          <span class="font-bold">region:</span> <span>{{ city.region }}</span>
        </p>
        <p class="text-gray-700 text-base">
          <span class="font-bold">elevation:</span> <span>{{ city.elevationMeters }}m</span>
        </p>
        <p class="text-gray-700 text-base">
          <span class="font-bold">lat:</span> <span>{{ city.latitude }}</span>
        </p>
        <p class="text-gray-700 text-base">
          <span class="font-bold">lng:</span> <span>{{ city.longitude }}</span>
        </p>
      </b-card-body>
    </b-card>

  </div>
</template>

<script>
import Map from "~/components/demo/Map";
export default {
  props: {
    city: { type: Object, default: null }
  },
  data() {
    return {
      loading: true
    };
  },
  components: {
    Map
  }
};
</script>

<style scoped lang="scss">
.city-card {
  width: 432px;
}

.loader {
  background: #a063dc;
  height: 400px;

  > img {
    width: 100px;
  }
}
</style>