<template>
  <div class="country-card">
    <b-card no-body>

      <div
        v-if="!country"
        class="px-6 py-4 loader flex flex-initial justify-center"
      >
        <img src="~/assets/barcelone/loader.svg">
      </div>
      <img
        v-if="country"
        class="w-full"
        :src="country.flag"
        :alt="country.name"
      >
      <b-card-body>
        <div
          class="px-6 py-4"
          v-if="country"
        >
          <div class="font-bold text-xl mb-2 card-title">{{ country.name }} <span class="text-sm text-gray-900 italic">({{ country.nativeName }})</span> </div>
          <p class="text-gray-700 text-base">
            <span class="font-bold">population:</span> <span>{{ country.population }}</span>
          </p>
          <p class="text-gray-700 text-base">
            <span class="font-bold">language:</span> <span>{{ country.languages[0].name }}</span>
          </p>
          <p class="text-gray-700 text-base">
            <span class="font-bold">region:</span> <span>{{ country.region }}</span>
          </p>
          <p class="text-gray-700 text-base">
            <span class="font-bold">capital:</span>
            <nuxt-link :to="`/demo/city/${country.capital}/${latitude}/${longitude}`">{{ country.capital }}</nuxt-link>
          </p>

        </div>
      </b-card-body>

      <Map
        v-if="country"
        :lng="longitude"
        :lat="latitude"
      />
    </b-card>
  </div>
</template>

<script>
import Map from "~/components/demo/Map";
export default {
  props: {
    country: {
      type: Object,
      default: null
    }
  },
  components: {
    Map
  },
  computed: {
    longitude() {
      if (this.country) {
        return this.country.latlng[1];
      }

      return null;
    },

    latitude() {
      if (this.country) {
        return this.country.latlng[0];
      }

      return null;
    }
  }
};
</script>

<style scoped lang="scss">
.country-card {
  width: 432px;
}
</style>

<style lang="scss">
.loader {
  background: #a063dc;
  height: 400px;

  > img {
    width: 100px;
  }
}

.w-full {
  width: 100%;
}
</style>