<template>
  <div id="map-wrap" />
</template>
<script>
export default {
  name: "LeafletMap",
  //props passed from parent
  props: {
    lat: {
      type: [Number, String],
      default: null
    },
    lng: {
      type: [Number, String],
      default: null
    },
    zoom: {
        type: Number,
        default: 5
    }
  },
  mounted() {
    var mymap = L.map("map-wrap").setView([this.lat, this.lng], this.zoom);
    L.tileLayer("https://{s}.tile.openstreetmap.de/{z}/{x}/{y}.png", {
      attribution:
        'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>'
    }).addTo(mymap);
  }
};
</script>

<style lang="scss" scoped>
#map-wrap {
  width: 100%;
  height: 300px;
}
</style>