<template>
  <div>
    <div
      id="myvideos"
      v-html="html"
    />
    <div
      ref="scriptsContainer"
      class="video-scripts"
    />
  </div>
</template>


<script>
export default {
  props: {
    url: {
      type: String,
      default: null
    }
  },
  data() {
    return {
      html: null
    };
  },
  mounted() {
    let self = this;

    fetch(self.url)
      .then(resp => resp.text())
      .then(resp => {
        self.html = resp;
        self.parseHTML(resp);
      });
  },
  methods: {
    parseHTML(htmlString) {
      let self = this;
      //first if we have a concat file we need to load it first
      let parser = new DOMParser();
      let doc = parser.parseFromString(htmlString, "text/html");
      let scripts = doc.querySelectorAll("script");
      let sc = document.createElement("script");

      for (let i = 0, l = scripts.length; i < l; ++i) {
        if (scripts[i].src.includes("concat")) {
          sc.setAttribute("src", scripts[i].src);
        }
      }

      if (sc.src.length > 0) {
        //we need to wait for concat loading...
        sc.addEventListener("load", function() {
          self.handleScripts(doc);
        });

        self.$refs["scriptsContainer"].appendChild(sc);
      } else {
        self.handleScripts(doc);
      }
    },

    handleScripts(doc) {
      let links = doc.querySelectorAll("link");
      let scripts = doc.querySelectorAll("script");

      let scriptsContainer = this.$refs["scriptsContainer"];

      for (let i = 0, l = links.length; i < l; ++i) {
        let link = links[i].cloneNode(true);
        scriptsContainer.appendChild(link);
      }

      for (let i = 0, l = scripts.length; i < l; ++i) {
        let currScript = scripts[i];

        let script = document.createElement("script");

        //create all script elements
        for (let j = 0, l = currScript.attributes.length; j < l; ++j) {
          let attr = currScript.attributes[j];
          script.setAttribute(attr.name, attr.value);
          scriptsContainer.appendChild(script);
        }

        script.innerHTML = currScript.innerHTML;
      }
    }
  }
};
</script>
