<template>
  <div
    v-html="withoutScript"
    ref="embed"
  />
</template>

<script>
const regexScript = /<script\s*[\s\S]*?>[\s\S]*?<\/script>/gi;

export default {
  name: "AufEmbed",
  props: {
    html: {
      type: String,
      default: null
    }
  },
  computed: {
    withoutScript() {
      return this.html.replace(regexScript, "");
    }
  },
  mounted() {
      this.processScripts();
      let self = this;
      //process instagramm and twitter embeds
      if (typeof instgrm !== "undefined") {
        instgrm.Embeds.process();
      }
      if (typeof twttr !== "undefined") {
        twttr.widgets.load(self.$refs["embed"]);
      }
    
  },
  methods: {
    appendScript(src) {
      if (this.$store.state.embeds.indexOf(src) === -1) {
        this.$store.commit("addEmbed", src);
        var tag = document.createElement("script");
        tag.src = src;
        tag.setAttribute("async", true);
        var firstScriptTag = document.getElementsByTagName("script")[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      }
    },

    processScripts() {
      //process all script tags from embeds, there are 2 kinds of scripts, those with src and those with content
      //we will parse the html string and then process scripts
      let parser = new DOMParser();
      let result = parser.parseFromString(this.html, "text/html");
      let scripts = result.getElementsByTagName("script");

      for (var i = 0, l = scripts.length; i < l; ++i) {
        let src = scripts[i].getAttribute("src");
        let content = scripts[i].innerHTML;

        //extract src, create new script element and insert it to the dom
        if (src && src !== "") {
          this.appendScript(src);
        }

        //get script content and eval it
        if (content && content !== "") {
          eval(content);
        }
      }
    }
  }
};
</script>
