<template>
  <video
    muted="muted"
    playsinline="playsinline"
    webkit-playsinline
    tabindex="-1"
    controls
  >
    <source :src="urlm3u8">
    <source :src="urlHD">
    <source :src="urlSD">
  </video>
</template>

<script>
export default {
  name: "AufEmbedVideo",
  props: {
    html: {
      type: String,
      default: null
    }
  },
  computed: {
    urlHD() {
      return this.url + "_HD.mp4";
    },

    urlSD() {
      return this.url + "_sd.mp4";
    },

    urlm3u8() {
      return this.url + ".m3u8";
    },

    url() {
      let myRegexp = /^.*embed\/n\d+\/v([^"]+)".*$/g;
      let match = myRegexp.exec(this.html);
      return "//video.afcdn.com/video" + match[1];
    }
  }
};
</script>

<style scoped>
video {
  width: 100%;
}
</style>
