<template>
  <div
    class="container"
    :style="{ height: getImageHeight(originWidth, originHeight), marginBottom: '0.5rem' }"
  >
    <lazy-component>
      <img
        v-if="url"
        class="loading placeholder"
        :src="getFromWidth(10)"
        :data-srcset="srcset"
        :alt="alt"
        @load="setImageUrl"
        ref="img"
        :height="getImageHeight(originWidth, originHeight)"
        :width="width"
        :sizes="sizes"
        :data-origin-w="originWidth"
        :data-origin-h="originHeight"
      >
    </lazy-component>

  </div>
</template>

<script>
const URL = require("url");

export default {
  name: "AufImg",
  props: {
    url: {
      type: String,
      default: undefined
    },
    alt: {
      type: String,
      default: "image"
    },
    cropX: {
      type: Number,
      default: 0
    },
    cropY: {
      type: Number,
      default: 0
    },
    cropXTop: {
      type: Number,
      default: 0
    },
    cropYTop: {
      type: Number,
      default: 0
    },
    cropXBottom: {
      type: Number,
      default: 0
    },
    cropYBottom: {
      type: Number,
      default: 0
    },
    Titre: {
      type: String,
      default: ""
    },
    width: {
      type: Number,
      default: null
    },
    height: {
      type: Number,
      default: null
    },
    originWidth: {
      type: Number,
      default: null
    },
    originHeight: {
      type: Number,
      default: null
    }
  },
  data() {
    return {
      urlIsSet: false,
      sizes: "100vw",
      loading: true,
      placeholderHeight: 0,
      ratio: 1,
      widthPlaceholder: 0
    };
  },
  computed: {
    srcset() {
      return this.getSrcSet().join(",");
    },

    loadingSrc() {
      return this.getFromWidth(10);
    },

    extension() {
      return this.url.split(".").pop();
    },
    windowWidth() {
      if (process.browser) {
        var width =
          window.innerWidth ||
          document.documentElement.clientWidth ||
          document.body.clientWidth;

        return width;
      } else {
        return "auto";
      }
    }
  },
  methods: {
    getImageHeight(originWidth, originHeight) {
      if (this.height) {
        return this.height + "px";
      } else {
        let height = originHeight / (originWidth / this.windowWidth);
        return Math.floor(height) + "px";
      }
    },
    getSrcSet() {
      let sizes = [240, 320, 640, 1920];
      let filename = this.getFilename();
      let ratio = this.getRatio();
      let isCroped = false;

      return sizes.map(size => {
        let format = `_w${size}`;

        if (this.height) {
          format += `h${Math.round(size * ratio)}`;
        }

        if (this.cropX > 0 || this.cropY > 0) {
          format += `cx${this.cropX}cy${this.cropY}`;
          isCroped = true;
        }

        if (this.cropXBottom > 0 && this.cropYBottom > 0) {
          format += `cxb${this.cropXBottom}cyb${this.cropYBottom}`;
          isCroped = true;
        }

        if (this.cropXTop > 0 && this.cropYTop > 0) {
          format += `cxt${this.cropXTop}cyt${this.cropYTop}`;
          isCroped = true;
        }

        if (this.height && this.width && !isCroped) {
          format += "c1";
        }

        if (this.width) {
          this.sizes = this.width + "px";
        }

        return `${this.$store.state.core.globalConf.images_base_domain}/${filename}${format}.webp ${size}w`;
      });
    },

    getRatio() {
      if (this.height && this.width) {
        return this.height / this.width;
      } else if (this.originHeight / this.originWidth) {
        return this.originHeight / this.originWidth;
      }
    },

    getFromWidth(width) {
      let orientation = this.originWidth / this.originHeight < 5 ? "w" : "h";
      return `${
        this.$store.state.core.globalConf.images_base_domain
      }/${this.getFilename()}_${orientation}${width}.webp`;
    },

    get1pxUrl() {
      console.log("1px url", `//${this.getFilename()}_w1h1c1.webp`);
      return `${
        this.$store.state.core.globalConf.images_base_domain
      }/${this.getFilename()}_w1h1c1.webp`;
    },

    getFilename() {
      // if (process.browser) {
      let url = URL.parse(this.url);
      let path = url.pathname;

      let filenameWithFormat = path.split("/").pop();

      let filePath = path.replace(filenameWithFormat, "");

      let extension = filenameWithFormat.split(".").pop();

      let format = filenameWithFormat
        .substring(filenameWithFormat.lastIndexOf("_") + 1)
        .replace("." + extension, "");

      let filename = filenameWithFormat.replace("." + extension, "");

      if (format !== "L") {
        filename = filename.replace("_" + format, "");
      }

      return filePath.slice(1) + filename;
      // }
    },

    setImageUrl(e) {
      let img = e.target;

      if (this.urlIsSet) {
        return;
      }

      this.urlIsSet = true;

      if (img.getAttribute("srcset") !== img.getAttribute("data-srcset")) {
        img.setAttribute("srcset", img.getAttribute("data-srcset"));
      }
      img.classList.remove("loading");
    }
  }
};
</script>

<style scoped>
img {
  width: 100%;
}

.container {
  color: #fff;
  background: #ddd;
}
</style>
