<template>
  <span>{{ dateLocale }}</span>
</template>

<script>
import { formatRelative, format } from "date-fns";
import { zonedTimeToUtc } from "date-fns-tz";

export default {
  props: {
    date: {
      type: String,
      default: null
    },
    distanceFromNow: {
      type: Boolean,
      default: false
    },
    dateFormat: {
      type: String,
      default: "yyyy-MM-dd"
    }
  },
  computed: {
    dateLocale() {
      if (this.date) {
        const locales = {
          es: require(`date-fns/locale/es`),
          fr: require(`date-fns/locale/fr`),
          it: require(`date-fns/locale/it`)
        };

        const locale = locales[this.$store.state.locale];

        if (this.distanceFromNow) {
          return formatRelative(
            zonedTimeToUtc(new Date(this.date), "Europe/Berlin"),
            new Date(),
            { locale }
          );
        } else {
          return format(new Date(this.date), this.dateFormat, {
            awareOfUnicodeTokens: true,
            locale
          });
        }
      }
    }
  }
};
</script>

<style>
</style>
