<script>
export default {
  name: "PageNotFound",
  template: "<div />",
  created() {
    if(process.browser) {
      window.location.href = "https://www.aufeminin.com" +  this.$route.params[0]
    }
  }
};
</script>